$color_box: rgb(135, 148, 153);
$color_body: rgb(245, 245, 245);
$color_linear1: rgba(156, 252, 248, 1);
$color_linear2: rgba(110, 123, 251, 1);
* {
    box-sizing: border-box;
}

body {
    background-color: $color_body;
}

#title {
    font-family: "Elsie", cursive;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 0;
}

#title::first-letter {
    font-size: 2.5rem;
    vertical-align: sub;
    text-decoration: underline;
    color: rgb(242, 75, 75);
}

#navabr {
    padding: 0;
    background: linear-gradient( 109.6deg, $color_linear1 11.2%, $color_linear2 91.1%);
    border-bottom: 1px solid rgb(208, 212, 213);
    margin-bottom: 2rem;
    box-shadow: 4px 0px 5px 3px rgb(135, 148, 153);
}

.card-window>p {
    padding: 0;
    margin: 0;
}

.fa-free-code-camp {
    padding-right: 10px;
}

.card {
    box-shadow: 2px 2px 5px 1px $color_box, -2px 2px 5px 1px $color_box, -2px -2px 5px 1px $color_box, 2px -2px 5px 1px $color_box;
    border-radius: 0;
    margin-bottom: 20px;
}

.card-body {
    padding: 0px;
    border-radius: 0px !important;
    margin-bottom: -7px;
}

.card-window {
    background: linear-gradient( 109.6deg, $color_linear1 11.2%, $color_linear2 91.1%);
    font-family: "Black Han Sans", sans-serif;
    font-size: 1rem;
    padding: 3px 5px;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    i {
        font-weight: bold;
    }
}

#editor {
    border: none;
    outline: none;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(223, 255, 254);
    min-height: 300px;
}